.categories {
    margin-left: 5.8rem;
}
.categories__title {
    font-family: 'Capuche';
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.3rem;
    letter-spacing: 0.5px;
    color: var(--green);
    
}

.categories__wrapper {
    display: flex;
    width: calc(100% - 5.8rem);
    align-items: center;
}

.categories__items {
    display: flex;
    justify-content: space-around;    
    width: 100%;
}